<html>
    <head>
        <title></title>
        <meta content="">
        <link rel="STYLESHEET" media="screen" type="text/css"
              href="/usr/share/web/css/encyclopedia.css" />
    </head>

    <body>

        <div class="header">
            <h1>Encyclopedia</h1>
        </div>

        <div class="sidebar">

            <h2>Topics</h2>

            <p>
                <a href="entries/all.html">Everything</a><br/>
                <a href="entries/harn.html">Harn</a><br/>
                <a href="entries/shadow-over-kanday.html">Shadow Over Kanday</a><br/>
                <a href="entries/kanday.html">Kanday</a><br/>
                <a href="entries/tharda.html">Tharda</a><br/>
                <a href="entries/rethem.html">Rethem</a><br/>
            </p>

            <h2>Categories</h2>

            <p>
                <a href="entries/city.html">Cities</a><br/>
            </p>

            <h2>Other things</h2>

            <p>
                This is an entry in the sidebar and other things can be
                looked at and this is a try at doing things because the
                body area is not quite right and needs a margin to make
                it all flow just right.
            </p>
        </div>

        <div class="body">
            <h2>Contents</h2>

            <p>
                This is an encyclopedia of stuff with lots of entries of all
                sorts of things and other things as well.
            </p>

            <h2>Organise by Topics</h2>

            <h3>Religions<h3>

            <p>
                Agrik, Larani, Morgath, Siem.
            </p>

            <h2>Organise by Category</h2>

            <p>
                <strong>Landscape:</strong>
                <a href="entries/forest.html">Forests</a>,
                <a href="entries/hill.html">Hills</a>,
                <a href="entries/mountain.html">Mountains</a>.
            </p>

            <p>
                <strong>Settlement:</strong>
                <a href="entries/village.html">Villages</a>,
                <a href="entries/town.html">Towns</a>,
                <a href="entries/city.html">Cities</a>,
                <a href="entries/temple.html">Temples</a>.
            </p>

        </div>
    </body>
</html>
